/* :root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#model-viewer {
	width: 1200px;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Large desktops */
@media screen and (max-width: 1200px) {
	#model-viewer {
		width: 1000px;
		height: 700px;
	}
}

/* Tablets and small laptops */
@media screen and (max-width: 992px) {
	#model-viewer {
		width: 750px;
		height: 500px;
	}
}

/* Large smartphones */
@media screen and (max-width: 768px) {
	#model-viewer {
		width: 600px;
		height: 400px;
	}
}

/* Medium smartphones */
@media screen and (max-width: 576px) {
	#model-viewer {
		width: 400px;
		height: 300px;
	}
}

/* Small smartphones */
@media screen and (max-width: 400px) {
	#model-viewer {
		width: 300px;
		height: 200px;
	}
}
